.responsive-container {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.recharts-surface {
  padding: 16px !important;
}

.flex-container {
  display: flex;
  height: 100%;
  width: 100%;
}

#id {
  height: 100%;
  width: 100%;
}
