.responsive-container {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  font-size: 18px !important;
}

.flex-container {
  display: flex;
  height: 100%;
  width: 100%;
}

#id {
  height: 100%;
  width: 100%;
}

#id2 {
  height: 100%;
  width: 100%;
}

#scene {
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.custom-margin-legend > .recharts-default-legend {
  margin-top: 130px;
}
